<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        backupGlobals               = "false"
        backupStaticAttributes      = "false"
        >
    <testsuites>
        <testsuite name="all">
            <directory>../../src/*</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="../reports/coverage" charset="UTF-8" />
    </logging>
</phpunit>